body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
  }

  h1{
    text-align: center;
    margin-top: 100px;
  }
  
  table {
    border-collapse: collapse;
    width: 300px;
    height: 300px;
    margin: 20px auto;
  }
  
  td {
    border: 5px solid white;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
  }

  td:hover{
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  /* Nur innere Trennlinien der Tabelle */
  td:first-child {
    border-left: none;
  }
  
  td:last-child {
    border-right: none;
  }
  
  tr:first-child td {
    border-top: none;
  }
  
  tr:last-child td {
    border-bottom: none;
  }
  
  #content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Größer und fetter Text für X und O */
  td {
    font-size: 36px;
    font-weight: bold;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4783a8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 100px;
}

button:hover {
    background-color: #4697c9;
}
  

